@model WebApplication1.Models.Animal
<form asp-action="EditAnimal" asp-controller="Animal" asp-route-id="@Model.Id" enctype="multipart/form-data">
    <div class="add-section ">
        <input class="add-input" type="text" asp-for="Name" />
        <input class="add-input" type="number" asp-for="Age"  />
        <input class="add-input" type="text" asp-for="Type"  />
        <input class="add-input" type="text" asp-for="Description"  />
        <select type="number" asp-for="StateId">
            <option value="1">Можно забрать</option>
            <option value="2">Забронировано</option>
            <option value="3">Уже забрали</option>
        </select>
         <input class="add-input" type="text" asp-for="Image" readonly />
      <p class="info">Для того, чтобы изменить изображение, загрузите новую картинку в форму ниже.</p>
        <input type="file" name="uploadedFile" class="input-borderless" />
        <button type="submit"> Сохранить</button>
    </div>
</form>