@model WebApplication1.Models.TeamMember


<div class="add-section">


    <form asp-controller="TeamMember" asp-action="DeleteTeamMember" method="post">
        <h2 class="empty-team-cont-msq black">Внимание, удаленные записи восстановлению не подлежат!</h2>
        <div class="member-horizontal-info centered">
            <button class="submit-deleting submit-logout" type="submit"> Удалить</button>
            <a class="cancel-deleteing" asp-action="Team" asp-controller="TeamMember">Отмена</a>
        </div>



    </form>

</div>
